@import "./colors.css";

.header {
  background: var(--blue-bondi-sky2);
  height: 200px;
}

.header h1 {
  margin: 0;
  padding-top: 75px;
  text-align: center;
  color: var(--sand-tama-light);
  font-size: 3rem;
}
